{% extends 'base.html' %}
{% block extra_css %}
.button{
       display:inline-block;
       padding:10px 690px;
       font-size:16px;
       cursor:pointer;
       text-align:center;
       text-decoration:none;
       outline:none;
       color:yellow;
       background-color:green;
       border:none;
       border-radius:10px;
       box-shadow:0 0 10px red;
       }
{% endblock %}

{% block content %}

<h1>Welcome to display students</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
        {% if salesperson %}
      <th scope="col">Sales person name</th>
        {% endif %}
      <th scope="col">Date of Joining</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Education</th>
      <th scope="col">Skills</th>
        {% if update %}
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
  <tr>
      {% if salesperson %}
      <td>{{ student.sales_person }}</td>
      {% endif %}
    <td>{{ student.sales_person }}</td>
    <td>{{ student.joining_date }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.age }}</td>
    <td>{{ student.mobile }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.education }}</td>
    <td>{{ student.skills }}</td>
    {% if update %}
      <td>
     <a href="{% url 'update' student.id %}" class="button">update</a>
    </td>
    <td>
      <a href="{% url 'delete' student.id %}" class="button">delete</a>
    </td>
      {% endif %}
  </tr>
  {% empty %}
  <tr>
    <td>No students data available</td>
  </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}